.newsItem {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    margin: 1rem 0;

    background-color: var(--secondary-color);
    box-shadow: 0px -1px 2px rgba(58, 58, 58, 0.1), 1px 1px 2px rgba(58, 58, 58, 0.1);
    border: 1px solid var(--event-border);
    border-radius: 2px;
}

.newsItem__icon {
    display: inline-flex;
    margin-bottom: auto;
}

.newsItem__header {
    display: flex;
}

.newsItem__arrow {
    padding-left: 5px;
    padding-right: 5px;
}

.newsItem__title {
    display: flex;
    margin: 0;

    line-height: 1.1;
    font-weight: 400;
}
.newsItem__link {
    text-decoration: none;
    color: var(--font-secondary-color);
    transition: var(--default-transition);
}

.newsItem__link:hover {
    color: var(--font-primary-color); 
}