# compiled output
server/dist
server/node_modules

# Logs
server/logs
server/*.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/lerna-debug.log*

# OS
server/.DS_Store

# Tests
server/coverage
server/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json