<!DOCTYPE html>
<html>
<head>
    {{> main_head }}
</head>
<body>
{{> header (object user=user url=url) }}
<div class="about-container">
    <div>
        <h3 class="text-center">About</h3>
        <p class="about-info">
            <a href="https://github.com/Buggytheclown/hypeit" class="href" target="_blank" rel="noopener">Open source</a> news aggregator.

            Aggregation sources: Medium, Habr, DevTo.

            Sort by relative rating:
            - Habr rating is `totalVotes`,
            - Medium rating is `voterCount` // `!clapCount`
            - Devto rating is `score/5` // `5` - magic number for the correct placement of posts among others

            For registered users, we hide viewed posts.

            For any suggestions or bug report you can contact: <a href = "mailto: buggy.the.clown.md@gmail.com">buggy.the.clown.md@gmail.com</a>
        </p>
    </div>
</div>
</body>
