<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80606991-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-80606991-2');
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HypeIT</title>
    <!--https://codepen.io/cliffpyles/pen/OVPJay-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./assets/css/main.css">
</head>
<body>
{{> header (object user=user) }}
<div class="about-container">
    <div>
        <h3 class="text-center">About</h3>
        <p class="about-info">
            <a href="https://github.com/Buggytheclown/hypeit" class="href" target="_blank">Open source</a> news aggregator.

            Aggregation sources: Medium, Habr, DevTo.

            Sort by relative rating:
            - Habr rating is `totalVotes`,
            - Medium rating is `voterCount` // `!clapCount`
            - Devto rating is `score/5` // `5` - magic number for the correct placement of posts among others

            For registered users, we hide viewed posts.

            For any suggestions or bug report you can contact: <a href = "mailto: buggy.the.clown.md@gmail.com">buggy.the.clown.md@gmail.com</a>
        </p>
    </div>
</div>
</body>
