<!DOCTYPE html>
<html>
<head>
    {{> main_head }}
</head>

<body>
{{> header (object user=user url=url) }}
<div class="login-container col-sm-6 col-sm-offset-4">
    <b>Login</b><br><br>
    <form method="POST" action="/auth">
        <input type="hidden" name="form_type" value="LOGIN">
        <div class="form-group">
            <input name="username" type="text" class="form-control" id="register_username"
                   placeholder="Username">
        </div>

        <div class="form-group">
            <input name="password" type="password" class="form-control" id="register_password"
                   placeholder="Password">
        </div>

        <br>
        <input class="btn btn-default" type="submit" value="login"></form>

    <!--<a href="forgot">Forgot your password?</a><br><br>-->
    <br>
    <br>
    <b>Create Account</b><br><br>
    <form method="POST" action="/auth">

        <input type="hidden" name="form_type" value="REGISTER">
        <div class="form-group">
            <input name="username" type="text" class="form-control" id="register_username" placeholder="Username">
        </div>


        <div class="form-group">
            <input name="password" type="password" class="form-control" id="register_password"
                   placeholder="Password">
        </div>

        <div class="form-group">
            <input name="password2" type="password" class="form-control" id="register_password"
                   placeholder="Password">
        </div>

        <br>
        <input class="btn btn-default" type="submit" value="create account"></form>
</div>
</body>
