<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80606991-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-80606991-2');
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HypeIT</title>
    <!--https://codepen.io/cliffpyles/pen/OVPJay-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        .update-container {
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="update-container">
    <b>Update</b><br><br>
    <form method="POST" action="/update">
        <input type="hidden" name="update_type" value="WEEK">
        <input class="btn btn-primary" type="submit" value="WEEK">
    </form>
    <br>

    <form method="POST" action="/update">
        <input type="hidden" name="update_type" value="MONTH">
        <input class="btn btn-primary" type="submit" value="MONTH">
    </form>
    <br>

    <form method="POST" action="/update">
        <input type="hidden" name="update_type" value="HABR">
        <input class="btn btn-primary" type="submit" value="HABR">
    </form>
    <br>

    <form method="POST" action="/update">
        <input type="hidden" name="update_type" value="MEDIUM">
        <input class="btn btn-primary" type="submit" value="MEDIUM">
    </form>
    <br>

    <form method="POST" action="/update">
        <input type="hidden" name="update_type" value="DEVTO">
        <input class="btn btn-primary" type="submit" value="DEVTO">
    </form>
    <br>
</div>
</body>
