.navigation {
  display: flex;
  flex-grow: 1;
}

.navigation ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.navigation ul li {
  display: flex;
  list-style-type: none;
}

.navigation__item {
}

.navigation__title {
  margin: 0;
}

.navigation__icon {
}
