<!DOCTYPE html>
<html>
<head>
    {{> main_head }}
    <style>
        .update-container {
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="update-container">
    <b>Update</b><br><br>
    <form method="POST" action="/update">
        <input type="hidden" name="update_type" value="EVENTS">
        <input class="btn btn-primary" type="submit" value="EVENTS">
    </form>
    <br>
    <form method="POST" action="/update">
        <input type="hidden" name="update_type" value="WEEK">
        <input class="btn btn-primary" type="submit" value="WEEK">
    </form>
    <br>

    <form method="POST" action="/update">
        <input type="hidden" name="update_type" value="MONTH">
        <input class="btn btn-primary" type="submit" value="MONTH">
    </form>
    <br>

    <form method="POST" action="/update">
        <input type="hidden" name="update_type" value="HABR">
        <input class="btn btn-primary" type="submit" value="HABR">
    </form>
    <br>

    <form method="POST" action="/update">
        <input type="hidden" name="update_type" value="MEDIUM">
        <input class="btn btn-primary" type="submit" value="MEDIUM">
    </form>
    <br>

    <form method="POST" action="/update">
        <input type="hidden" name="update_type" value="DEVTO">
        <input class="btn btn-primary" type="submit" value="DEVTO">
    </form>
    <br>
</div>
</body>
