.header {
  display: flex;
  justify-content: center;

  background-color: rgb(31, 35, 39);
}

.header__container {
  width: var(--column-width);
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-height: 63px;
}
